# Exclude various IDEA stuff...
c.kdbx
pdb.pwd
port
port.lock
jdbc-drivers
tasks
plugins
options/**

# ... but include customized configs
!options/colors.scheme.xml
!options/ide.general.xml
!options/keymap.xml
!options/laf.xml
!options/
!options/
!options/
!options/